@import "~bootstrap/scss/bootstrap";

nav {
    height: 100px;
}

.logo-img {
    width: 90px;
}

.ib-show {
    background-color: rgb(126, 126, 126);
    height: calc(100vh - 100px);
    padding: 20px;
    h1,
    h2 {
        margin: 20px;
        color: #fff;
    }
    img {
        border-radius: 40px;
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
    p {
        margin: 30px;
        font-size: 1.2rem;
        color: #fff;
    }
}

.cont-errors {
    width: 650px;
    border: 1.5px solid red;
    border-radius: 20px;
    color: red;
    margin: auto;
    text-align: center;
    padding: 20px;
    ul {
        list-style: none;
    }
}

.error {
    border: 1.5px solid red;
}

.ib-form {
    p {
        color: red;
    }
}
